<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <!-- <div class="upper-info ">
            <form action="/create" method="post">
                <input type="text" placeholder="What do you need to do" name="description">

                <div class="center ">
                    <select name="category">
                        <option value="volvo">Personal</option>
                        <option value="saab">Work</option>
                        <option value="mercedes">School</option>
                        <option value="audi">College</option>
                    </select>
                    <input type="date" name="date">
                </div>
                <div class="buttons ">
                    <button class="btn">ADD TASK</button>
                    <button class="btn">DELETE TASK</button>
                </div>
            </form>
        </div>
        <div class="show-result">
            <ul class="show-result-ul">
                <% for(let i of todo_list){ %>
                 <li class="myLi">
                    <p><%= i.description %></p>
                    <p><%= i.date %></p>
                    <p><%= i.type %></p>
                 </li>
               <% } %>
            </ul>
        </div> -->
    </body>
</html>

